/*The Sidebar menu*/
.sideBar{
  height: 100%; /*100% full-height*/
  width: 0; /*0 width - change this with JavaScript*/
  position: fixed; /*Stay in place*/
  z-index: 1; /*stay on top*/
  top: 0;
  right: 0;
  background-color: #111; /*Black*/
  overflow-x: hidden; /*Disable Horizontal Scroll*/
  padding-top: 60px; /*Place 60px from the top*/
  transition: 0.5s; /*Make it take 0.5 seconds*/
}

/*flex the header*/
.header{
  flex-direction: row;
}

/*sideBarHeader text*/
.sideBarHeader{
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
  padding-left: 20px;
}

/*The sidebar links*/
.sideBar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/*When you mouse over the navigation links, change color*/
.sideBar a:hover {
  color: #f1f1f1;
}

/*Position and style the close button(top right corner)*/
.sideBar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn{
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover{
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  float: right;
  padding: 20px;
  top: 0;

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sideBar {padding-top: 15px;}
  .sideBar a {font-size: 18px;}
}

.sideBarHeader{
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}







/*Where I got the tutorial for the Collapsed sideBar*/
/*https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp*/
