html{
  background-color: #F2F2F2;
}

.bodyBit{
  padding-left: 17%;
  padding-top: 8%;
  padding-right: 5%;
  background-color: #F2F2F2;
  display: flex;
}

.niceText:link{
  text-decoration: none;
}

.niceText:hover{
  text-decoration: none;
}

.niceText:visited{
  text-decoration: none;
}

.niceText:active{
  text-decoration: none;
}

.resumeHeading{
  font-size: 35px;
}

.headerOfList{
  font-size: 25px;
}

.itsMe{
  width: 35%;
  height: 100%;
  padding: 4% 4% 2% 2%;
}

.selfIntroText{
  padding-top: 1rem;
  line-height: 2;
}

/* .whatDidYouDo{
  padding-left: 5%;
} */

.portfolioBox{
  height: 12rem;
  width: 12rem;
  /* height: 100%; */
}

.PortfolioBoxes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}

figcaption{
  display: flex;
  justify-content: center;
  background-color: #3d0a00;
  color: aliceblue;
  text-decoration: none;
  height: 1.5rem;
  position: relative;
  top: -10px;
}

