html{
  background-color: #F2F2F2;
}

.bodyBit{
  padding-left: 17%;
  padding-top: 8%;
  padding-right: 5%;
  background-color: #F2F2F2;
  display: flex;
}

.resumeHeading{
  font-size: 35px;
}

.headerOfList{
  font-size: 25px;
}

.itsMe{
  width: 35%;
  height: 100%;
  padding: 4% 4% 2% 2%;
}

.selfIntroText{
  padding-top: 1rem;
  line-height: 2.5;
}

.whatDidYouDo{
  padding-left: 5%;
}
