html{
  background-color: #F2F2F2;
}

.bodyBit{
  padding-left: 20%;
  padding-top: 8%;
  padding-right: 10%;
  background-color: #F2F2F2;
}

.resumeHeading{
  font-size: 35px;
}

.headerOfList{
  font-size: 25px;
}

.itsMe{
  width: 30%;
  padding: 0% 2% 2% 2%;
}

.selfIntroText{
  padding-top: 1rem;
}
