.header{
  height: 15%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #734C48;
  box-sizing: border-box;

}

.litLogo{
  padding: 5px;
  height: 20%;
}

.nameAndLogo{
  display: flex;
  flex-direction: row;
}

.name{
  color: #BDBFBF;
  font-size: 56px;
  padding: 0px 50px;
}

.headerAlignment{
  display: flex;
  -ms-flex: 1; /* IE 10 */
  flex: 1;
  height: 450%;
  justify-content: space-between;
}