.introText{
  padding-top: 8.5%;
  padding-left: 8%;
  padding-right: 8%;
  font-size: 20px;
}

.ArtContainer{
  /*display: flow-root;*/
  padding-top: 3%;
  padding-left: 9%;
  padding-right: 9%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.orginizeArt{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  /* style for the orginizing boxes */
  border-radius: 10%;
  height: 3rem;
}

.individualButton{
  font-size: 30px;
  color: #4c4c4c;
  background-color: darkcyan;
}

.rengokuCandle{
  height: 12rem;
  padding: 0.5%;
}

.pixalEarth{
  height: 12rem;
  padding: 0.5%;
}

.foolishSketch{
  height: 12rem;
  padding: 0.5%;
}

.blueButterfly{
  height: 12rem;
  padding: 0.5%;
}

.FrogInAPocket{
  height: 12rem;
  padding: 0.5%;
}

.ghost{
  height: 12rem;  
  padding: 0.5%;
}

.PurpleGem{
  height: 12rem; 
  padding: 0.5%;
}

.RainbowButterfly{
  height: 12rem;  
  padding: 0.5%;
}

.straberry{
  height: 12rem;
  padding: 0.5%;
}

.voltronNasa{
  height: 12rem;
  padding: 0.5%;
}

.heartGlasses{
  height: 12rem;
  padding: 0.5%;
}

.art{
  padding: 0.5%;
}

.ItsFinepsd {
  /*width: 29%;*//*ForThreeAccross*/
  height: 12rem; /*for four accross*/
  padding: 0.5%;
}

.NewStyle{
  /*width: 29%;*//*ForThreeAccross*/
  height: 12rem;
  padding: 0.5%;
}

.OspMoviePoster {
  height: 12rem;
  padding: 0.5%;
}

.YouWillBeOk{
  height: 12rem;
  padding: 0.5%;
}

.ViolanceLanguage{
  /*width: 29%;*//*ForThreeAccross*/
  height: 12rem;
  padding: 0.5%;
}

.YingYang{
  /*width: 29%;*//*ForThreeAccross*/
  height: 12rem;
  padding: 0.5%;
}

.eyes{
  height: 12rem;
  padding: 0.5%;
}

.void{
  height: 12rem;
  padding: 0.5%;
}

.banana{
  height: 12rem;
  padding: 0.5%;
}

.Thalia{
  /*width: 34%*//*ForThreeAccross*/
  height: 12rem;
  padding: 0.5%;
}

.MichaelVey{
  height: 12rem;
  padding: 0.5%;
}

.LokiInHoodie{
  height: 12rem;
  padding: 0.5%;
}

.AlexOc{
  height: 12rem;
  padding: 0.5%;
}

.PracticeSunBurns{
  height: 12rem;
  padding: 0.5%;
}

.ChibiJack{
  height: 12rem;
  padding: 0.5%;
}

.AntiArtWithClouds{
  height: 12rem;
  padding: 0.5%;
}

.ChineseMythOc{
  height: 12rem;
  padding: 0.5%;
}

.TheyreFathers{
  height: 12rem;
  padding: 0.5%;
}

.HalfAndHalf{
  height: 12rem;
  padding: 0.5%;
}

.NewStyleSketch{
  height: 12rem;
  padding: 0.5%;
}

.Him{
  height: 12rem;
  padding: 0.5%;
}
